.description {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 300;
  letter-spacing: .01rem;
  padding: 0em 3em;
  font-size: 1.3em;
}

.description_images {
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

.description_images img {
  height: 1.8rem;
}
