/* .navigation {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(29, 36, 40);
  align-items: center;
  height: 4rem;
}

.navigation, .navigation a, .navigation img {
  background-color: rgb(24, 29, 33);
  transition: padding-top 500ms, background-color 500ms, height 500ms, color 500ms;
}

.navigation a:hover {
  color: rgb(255, 204, 0);
  padding-top: 1.2em;
}

.navigation a:first-child {
  margin-right: auto;
  padding: 0em 1em;
}

.navigation img {
  width: 4rem;
}

.navigation a + a {
  padding: 0em 3em;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(203, 203, 203);
  text-decoration: none;
} */

.navbar-nav a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  /* padding: 0em 5em; */
  height: 4rem;
  display: flex;
  align-items: center;
  transition: color 300ms, padding 300ms, border 300ms;
}

.navbar-nav {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.navbar-nav a:hover {
  color: rgb(255, 204, 0);
  padding-top: 1em;
  border-bottom: .1rem solid var(--yellow);
}