.navbar {
  border-bottom: .1rem solid var(--yellow);
}

.navbar-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0em 1em;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 200ms, padding 200ms, transform 200ms, border 200ms, color 200ms, background-color 200ms, border-radius 200ms;
}

.navbar-nav {
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.navbar.navbar-expand-lg{
  padding: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj48c3ZnIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCA3NCA3NCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxuczpzZXJpZj0iaHR0cDovL3d3dy5zZXJpZi5jb20vIiBzdHlsZT0iZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS1taXRlcmxpbWl0OjEuNTsiPjxwYXRoIGQ9Ik05LjI0OSw1OS4yNWw1NS4wMDIsLTAiIHN0eWxlPSJmaWxsOm5vbmU7c3Ryb2tlOiNmZmNiMDA7c3Ryb2tlLXdpZHRoOjEwcHg7Ii8+PHBhdGggZD0iTTkuMjQ5LDE0LjI1bDU1LjAwMiwtMCIgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2U6I2ZmY2IwMDtzdHJva2Utd2lkdGg6MTBweDsiLz48cGF0aCBkPSJNOS4yNDksMzYuNzVsNTUuMDAyLDAuMDE0IiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZTojZmZjYjAwO3N0cm9rZS13aWR0aDoxMHB4OyIvPjwvc3ZnPg==") !important
}


.navbar-nav a:hover {
  cursor: pointer;
  padding-top: 1em;
  border-radius: .2rem;
  /* background-color: rgb(255, 204, 0); */
}