.navigation {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(29, 36, 40);
  align-items: center;
  height: 4rem;
}

.navigation, .navigation a {
  background-color: rgb(24, 29, 33);
}

.navigation a {
  padding: 0em 3em;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(203, 203, 203);
  text-decoration: none;
}
