.profile_image {
  width: 13rem;
  border: 0.2rem solid rgb(104, 115, 233);
}

.profile {
  display: inline-flex;
  margin: 0.8rem;
  flex-direction: column;
  align-items: center;
}

.profile_code {
  font-size: larger;
  color: rgb(255, 204, 0);
}