.profile_image {
  width: 13rem;
  border: 0.2rem solid rgb(109, 174, 244);
}

.profile > h4 {
  margin: 1em 0em;
  letter-spacing: .04rem;
}

.profile {
  display: inline-flex;
  margin: 0.8rem;
  flex-direction: column;
  align-items: center;
}

.profile_code {
  letter-spacing: .04rem;
  font-size: larger;
  color: rgb(255, 204, 0);
}