.profile_image {
  width: 13rem;
  height: 13rem;
  border: 0.1rem solid var(--yellow)
}

.profile h1 {
  margin: .4em 0em;
  letter-spacing: .04rem;
}

.profile {
  /* display: inline-flex; */
  margin: 0.8rem;
  /* flex-direction: column; */
  /* align-items: center; */
}

.profile_code {
  letter-spacing: .04rem;
  font-size: larger;
  color: rgb(255, 204, 0);
}