.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.projects_container .card {
  margin: 1em;
}

.title-details {
  font-weight: 400;
  color: var(--yellow);
}

.paragraph-details {
  font-weight: 300;
  font-size: 1rem;
  color: var(--text-grey);
}

.button-link.btn.btn-dark {
  /* border-radius: .7rem; */
  border: 0.09em solid rgb(143, 143, 143);
}

.additional_details {
  color: var(--text-grey);
  font-weight: 300;
  letter-spacing: .01rem;
  padding: 0em 2em;
  font-size: 1.3em;
}

.card-text {
  color: rgb(203, 203, 203);
  font-weight: 300;
}

.card-title.h5 {
  font-size: 1.5rem;
}

