.projects_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
}

.projects_container .card {
  margin: 1em;
}

.card-text {
  color: rgb(203, 203, 203);
  font-weight: 300;
}

.card-title.h5 {
  font-size: 1.5rem;
}

