/* .downloadPDF, .downloadPDF > a {
  background: var(--yellow);
  color: black;
}

.downloadPDF {
  border: 2px solid transparent;
  border-radius: 3rem;
}

.downloadPDF > a {
  text-decoration: none;
  margin: 1rem;
  cursor: pointer;
} */

.downloadPDF, .downloadPDF > a {
  background-color: var(--yellow);
  text-decoration: none;
  color: black;
}

.downloadPDF {
  border: 0rem solid transparent;
  border-radius: 2rem;
  width: 8rem;
  padding: .3em .8em;
  font-size: 1.3rem;
  color: black;
}
