:root {
  --yellow :rgb(255, 204, 0); 
  --dark-blue :rgb(29, 36, 40);
}

.app_container {
  display: flex;
  flex-wrap: wrap;
  margin: 8rem auto 3rem auto;
  width: 80%;
  justify-content: center;
}


.footer_container {
  margin: 0em auto;
  width: 80%;
}