:root {
  --yellow :rgb(255, 204, 0); 
  --purple : rgb(156, 90, 255);
  --dark-blue :rgb(29, 36, 40);
  --text-grey: rgb(203, 203, 203);
}

.app_container {
  margin: auto auto 3rem auto;
}

.profile_container {
  margin-top: 8rem;
}

/* image cards on project section */
/* .projects_container .card-img-top {
  width: 17.875rem;
  height: 10.0625rem;
} */

.footer_container {
  margin: 0em auto;
  width: 80%;
}

/* spinner class */
.css-1xdhyk6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}